html, body, h1, h2, h3, h4, h5, h6, div, p {
	margin: 							0;
	width: 								100%;
	color: 								gray;
	font-family: 					'Overpass Mono', monospace;
	font-size:	1.75vh;
}
h1 { font-size:					5.0vh; }
h2 { font-size: 				4.0vh; }
h3 { font-size:					2.8vh; }
a { text-decoration: 		none;}
a.hover:hover img{
	top: 									50%;
	left: 								50%;
	width: 								50%;
  display: 							block;
	z-index: 							99;
	position: 						fixed;
	transform: 						translate(-50%, -50%);
}
header {
	height: 							10vh;
	display: 							flex;
	outline: 							0.1vh solid lightgray;
	margin-bottom: 				5vh;
}
main {
	height: 							78vh;
	}
	main section {
		float: 							right;
		width: 							55%;
		height: 						50%;
		margin: 						0 2.5%
	}
	main aside {
		float: 							left;
		width: 							40%;
		height: 						50%;
		position: 					relative;
		}
		main aside div {
			width: 						100%;
			text-align: 			right;
			white-space: 			nowrap;
		}
footer {
	height: 							7vh;
	border-top: 					0.1vh solid lightgray;
	margin-top: 					-0.1vh;
}

#logo { height: 				inherit; }

.center {
	text-align: 					center;
	align-items:					center;
	justify-content: 			center;
}
.icon {
	height: 							3vh;
	vertical-align: 			middle;
	margin: 							5;
}
.hidden { display: 			none; }
