html, body, h1, h2, h3, h4, h5, h6, p {
	margin: 							0;
	width: 								100%;
	display: 							inline;
	color: 								gray;
}
h1 { font-size:					5.0vh; }
h2 { font-size: 				4.0vh; }
h3 { font-size:					2.8vh; }
h5,p,input { font-size:	2.5vh; }
a { text-decoration: 		none;}

header {
	height: 							10vh;
	display: 							flex;
	border-bottom: 				0.1px solid lightgray;
}
main {
	height: 							82.7vh;
}
main section {
	float: 								right;
	width: 								60%;
	height: 							100%;
}
main aside {
	float: 								left;
	width: 								40%;
	height: 							100%;
}
footer {
	height: 							5vh;
	border-top: 					0.1vh solid lightgray;
}

#logo {
	height: 							10vh;
	width: 								auto;
}
#loadtime {
	height: 							3vh;
	font-size: 						2.5vh;
}
#logos {
	height: 							4vh;
}

.center {
	text-align: 					center;
	align-items:					center;
	justify-content: 			center;
}
.icon {
	height: 							3vh;
	vertical-align: 			middle;
	margin: 							5;
	transition: 					0.25s;
}
.icon:hover {
	height: 							3.5vh;
}
